
@media screen and (max-width: 1206px ){
.logo img {
    padding-left: 10px;
}
}
@media screen and (max-width: 1188px ){
	.sign_in > div {
	    padding: 0 28px;
	}
}
@media screen and (max-width: 1134px ){
	.sign_in > div {
	    padding: 0 18px;
	}
}
@media screen and (max-width: 1024px ){
	.text_sign_up {
		border: none;
		padding: 0;
	}
	.number > div {
	    	padding: 0 55px;
	}
	.explore_p2{
		text-align: center;
	}

	.img_top {
	    	height: 230px;
	}
	.wrapp {
    	width: 260px;
	}	
	.footer_cont > div {
	    padding: 0 36px;
	}
	.footer_subcribe a{
		font-size: 13px;
	}
	.footer{
		height: auto;
	}
}

@media screen and (max-width: 1012px ){
	.text_on_img{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 80%;
	    height: 80%;
	    top: 5px;
	}
	.red{
		margin-bottom: 0;
	}

	.text_blue_on_img{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 80%;
	    height: 80%;
	    top: 5px;
	}
	.blue{
		margin-bottom: 0;
	}
}

@media screen and (max-width: 956px){
	.number > div {
	    padding: 0 38px;
	}
}

@media screen and (max-width: 950px){
	.footer_cont > div {
	    padding: 0px 20px;
	}
}

@media screen and (max-width: 902px){
	.sign_in{
	height: auto; justify-content: center;
}
	.gach_gach{
		display: block;
	}
	.reserve .p1 {
    font-size: 66px;
    padding-top: 155px;
    }
   .gach_gach{
   	display: block;
   	color: white; 
   	    position: relative;
    top: 40px;
   }
   .sign_in{
   	display: none;
   }
   .gach_gach i{
   	float: right;
   	margin-right: 10px;
   	font-size: 30px;
   }
   .gach_gach a{
   	color: white;
   }
}

@media screen and (max-width: 894px){
	.explore_p2{
		padding: 0 5px;
	}
}

@media screen and (max-width: 830px){
	.footer_cont > div {
	    padding: 0px 13px;
	}
}


@media screen and (max-width: 880px){
.footer_cont > div {
    padding: 0px 10px;
}
.m6{
	width: 100%;
}
.gach_gach{
   	display: block;
   	color: white; 
   	    position: relative;
    top: -68px;
   }
}

@media screen and (max-width: 826px){
.explore_p2{
    padding-left: 5px;
    padding-right: 5px;
}
}

@media screen and (max-width: 790px){
.footer_cont > div {
    padding: 0px 10px;
}
}

@media screen and (max-width: 772px){
	.reserve_seach{
		width: 740px;
		margin: auto;
	}
	.img {
	    height: auto;
	}
	.img_bottom{
		height: auto;
	}
}

@media screen and (max-width: 768px){
   .sign_in > div{
		padding: 15px;
		border: none;
	}
	.sign_in a{
		font-size: 18px;
	}

	.text_sign_up{
		border: none;
		padding: 0;
	}
	.menu{
		padding: 0;
	}
	.search_re div {
	    padding: 0 8px;
	}
	.search_re a{
		font-size: 12px;
	}

	.text_sign_in{
		border: 1px solid white;
	}
	 .reserve_seach{
		width: 70%;
		margin: auto;
	}
	.reserve_input {
	        width: 100%;
	        font-size: 13px;
    text-indent: 10px;
	}
	.search_re button{
		font-size: 12px;
	}
	.search_re img {
	    padding: 0 4px;
	}
	.number > div {
	    padding: 0 2px;
	}
	.explore_p2,  .explore_p1{
	    text-align: center;
	}
	/* ------ */
	
	.banner_p2 {
	    padding-bottom: 45px;
	}
	
	.footer_cont > div {
	    padding: 0 10px;
	}
	
	.img_top {
	    height: 185px;
	}
	.footer_cont > div {
		padding: 0 7px;
	}
	    .footer_subcribe div {
	    padding: 0 10px;
	}
	.footer_input {
	    padding: 0 3px 0 3px;
	        font-size: 12px;
    text-indent: 5px;
	}
	.footer_subcribe a{
		font-size: 12px;
	}
	.explore-more {
	    height: 175px;
	} 
	.footer_cont p{
		font-size: 10px;
	}

}

@media screen and (max-width: 756px){
.footer_cont > div {
    padding: 0px 4px;
}
}

@media screen and (max-width: 738px){
.footer_cont {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
}
.footer_icon {
    justify-content: center;
}
.footer_input {
    width: 100%;
}
.footer_subcribe div {
    padding: 0 20px;
}

.footer_cont > div {
    padding: 15px 0px;
}
.footer_cont_p{
	padding-top: 0;
}
.footer_cont a{
	    padding-bottom: 0px;
}
.top-location{
	padding-left: 0 !important;
}
.wrapp {
    margin-top: 15px;
    margin-bottom: 20px;
}
}

@media screen and (max-width: 565px){
	.footer_cont{
		flex-direction: column;
		height: auto;
		    align-items: center;
    justify-content: center;
	}
	.blue_p1 {
	    padding-top: 35px;
	}
	.banner_h1 {
	    padding-top: 106px;
	}
	.red_p1 {
	    padding-top: 33px;
	}
	.blue {
	    margin-bottom: 40px;
	}
	

.m8{
	width: 100%;
}
.m4{
	width: 100%;
}
.m6{
	width: 100%;
}
.img{
	height: auto;
}
.anh {
    padding: 5px 6px;
}
.img_top{
	height: auto;
}
.img_bottom{
	height: auto;
}
.reserve .p1{
	font-size: 48px;
}
.reserve .p2 {
    font-size: 25px;
}
.sign_in{
	height: auto;
	justify-content: center;
}
.footer_input {
    width: 100%;
}
/* .footer_cont > div {
    width: 245px;
} */
.footer_cont > div {
	    padding: 15px 0px;
	}
.number_p_Bolod
	{
		    font-size: 25px;
	}
	.number {
    	height: 100px;
	}

}

@media screen and (max-width: 565px){
.explore_p1{
	padding-left: 5px;
	padding-right: 5px;
}
}

@media screen and (max-width: 508px){
	.reserve_seach {
	    width: 80%;
	}
}

@media screen and (max-width: 468px){
	.sign_in a{
		font-size: 12px;
	}
	.reserve_seach {
	    width: 90%;
	}
}

@media screen and (max-width: 444px){
.reserve .h1 {
    font-size: 65px;
    padding-top: 130px;
}
}

@media screen and (max-width: 414px){
    .m6 {
	    width: 100%;
	}
	.logo {
	    height: auto;
	}
	.sign_in {
	    height: auto;
	}
	.reserve .p1 {
	    font-size: 55px;
	    font-weight: bold;
	    padding-top: 110px;
	}
	.anh {
	    padding: 4px 0px;
	}
	.footer_cont{
		height: auto;
		    flex-direction: column;
		    align-items: center;
	}
	.wrapp {
	    width: 255px;
	}
	.footer_input {
	    width: 165px;
	}
	.footer_icon div {
	    padding: 0 21px;
	}
	/* ------- */
	.img_top{
		height: auto;
	}
	.img{
		height: auto;
	}
	.anh{
		height: auto;
		padding: 0 5px 5px 5px;
	}
	.m8{
		width: 100%;
	}
	.m4{
		width: 100%;
	}
}

@media screen and (max-width: 414px){
.reserve_seach {
    width: 370px;
    margin: auto;
}
.gach_gach {
    padding-top: 10px;
    top: -45px;
}
}

/* @media screen and (max-width: 564px){
.banner_h1 {
    padding-top: 120px;
}
.banner_h1{
	font-size: 48px;
}
} */

@media screen and (max-width: 382px){
	.banner_h1 {
    padding-top: 100px;
}
.banner_h1 {
    padding-top: 180px;
    font-size: 63px;
    }
}

@media screen and (max-width: 375px){
.reserve_seach {
    width: 350px;
    margin: auto;
}

 .number{
	flex-direction: column;
	height: auto;
	justify-content: center;
	align-items: center;
}
.number > div{
	border-bottom: 1px solid #d4d4d4;
	border-right: none;
	    padding: 10px 0;
} 


.number_p_Bolod {
    padding-bottom: 0;
}
.number_p_Nomal{
	padding-top: 0;
}
.boat-more {
    height: 130px;
    }
.banner_h1{
	font-size: 53px;
}
.banner_p2 {
    padding-bottom: 70px;
}

}

@media screen and (max-width: 360px){
	.logo {
	    height: auto;
	}
	.sign_in {
	    height: auto;
	}
	.m6{
		width: 100%;
	}

    .reserve_seach{
    	width: 330px;
    	margin: auto;
    }
    .reserve_input{
    	    font-size: 10px;
    }
    .search_re button {
	    font-size: 11px;
	}
    .reserve .p1{
    	font-size: 49px;
    	    padding-top: 90px;
    }
    .reserve .p2{
    	font-size: 22px;
    }
	.banner_h1 {
	    padding-top: 113px;
	    font-size: 49px;
	}
	.make_money {
	    margin-left: 35px;
	}
	.footer_cont{
		height: auto;
		    flex-direction: column;
		    align-items: center;
	}
	.wrapp {
	    width: 257px;
	}
	.footer_input {
	    width: 170px;
	}
	.footer_icon div {
	    padding: 0 21px;
	}
	.anh {
	    padding: 5px 0px;
	}
	.reserve_seach {
	    margin: auto;
	}

}

@media screen and (max-width: 350px){
	.reserve_seach {
	    width: 305px;
	    flex-direction: column;
	    background: #e7434e;
	    margin-left: none;
	}
    .reserve_input{
    	width: 305px;
    }
    .boat_p1{
    	padding-top: 75px;
    }
    .make_money {
	    width: 277px;
	}
	.make_money a{
		padding-left: 34px;
	}
	.search_re button{
		height: 30px;
	}
}

@media screen and (max-width: 336px){
.reserve_seach {
    width: 300px;
    margin: auto;
}
.reserve_input {
    width: 300px;
}
}

@media screen and (max-width: 320px){
    .reserve_seach {
	    width: 290px;
	    flex-direction: column;
	    background: #e7434e;
	}
    .reserve_input{
    	width: 290px;
    }
    .number {
    	flex-direction: column;
    	height: auto;
}
.make_money {
       margin: auto;
}
.explore-more a{
	text-align: center;
}
.explore-more a{
	padding: 20px 20px;
}
.banner_h1 {
    padding-top: 70px;
    font-size: 44px;
}
.banner_p2 {
	font-size: 24px;
}
.boat {
    height: 220px;
}
.boat_p1{
	padding-top: 60px;
}
.blue_p1 {
    font-size: 30px;
}
.text_on_img{
	height: 70%;
}
.red_p1 {
    font-size: 23px;
}
.reserve .p1 {
    font-size: 41px;
}
}