@media screen and (max-width: 1192px ){
	.action a {
	    padding: 10px 12px;
	}
}

@media screen and (max-width: 1110px ){
	.action a {
	    padding: 10px 10px;
	}
	.banner_left {
	    float: right;
	    padding-right: 20px;
	}
	.banner_left_p1 {
	    padding-top: 50px;
	}	
}

@media screen and (max-width: 1110px ){
	.banner_left_p1 {
	    padding-top: 50px;
	}
	.action a {
	    padding: 10px 8px;
	}
}
@media screen and (max-width: 1024px ){
	.banner_left {
	    margin-left: 170px;
	}
	.banner_left_p1 {
	    padding-top: 40px;
	}
	.new {
	    margin: auto;
	    float: none;
	}
}

@media screen and (max-width: 974px){
	.menu{
		display: none;
	}
	.menu1{
		display: block;
	}
	.menu2{
		display: block;
	}

	.menu1{
		height: 50px;
	}
	.menu1 ul{
		list-style: none;
		text-align: center;
	}
	.menu1 ul li{
		width: 215px;
		line-height: 50px;
		display: inline-block;
		position: relative;
	}
	.menu1 ul li a{
		display: block;
		color: #9d9fa2;
	}
	.menu1 a:hover {
	  color: #3885e5;
	}

	.menu1 ul li a::after{ 
	  content: ".";
	  display: block;
	  color: #9d9fa2;
	  float: right;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		font-size: 20px;
	}
	/* .menu1 ul li:first-child{
		padding-left: 0 !important;
	}
	.menu1 ul li:last-child{
		padding-right: 0 !important;
	} */

	.menu1 ul li:last-child a::after{
		content: "" !important;
	}
	
	.menu1--xanh{
		color: #3885e5 !important;
	}

	.menu2{
		height: 50px;
		margin: 10px 0;
	}
	.menu2 ul{
		list-style: none;
		text-align: center;
	}
	.menu2 ul li{
		border: 1px solid #9d9fa2;
		width: 220px;
		line-height: 50px;
		display: inline-block;
		position: relative;
		border-radius: 5px;
	}
	.a1::after{
		content: "" !important;
	}
	.cate{
		padding: 0px 50px;
		color: #9d9fa2;
	}

}

@media screen and (max-width: 992px){
	.footer p{
		padding: 0 10px;
	}
}
@media screen and (max-width: 988px){
	.menu div {
	    padding: 0px 10px;
	}
	.feature {
	    height: auto;
	    background: white;
	    padding-bottom: 65px;
	}
	.banner_left{
		width: 80%;
	}
}

@media screen and (max-width: 952px){
	.action{
		display: none;
	}
	.gach_gach_head{
		display: block;
		padding-left: 10px;
	}
	.gach_gach_head i{
	   	float: right;
	   	margin-right: 10px;
	   	position: relative;
	   	top: -50px;
	   	font-size: 30px;
	   }
	   .gach_gach_head a{
	   	color: white;
	   }
}


@media screen and (max-width: 868px){
	.action a {
	    padding: 10px 7px;
	}
}

 @media screen and (max-width: 830px){
	.menu div {
	    padding: 0px 3px;
	}
}
 @media screen and (max-width: 808px){
	.action a:last-child {
	    border: none;	
	}
	.change_a_job_p2 {
	    padding-left: 5px;
	    padding-right: 5px;
	}
	.subcribe p{
		padding-left: 5px;
	    padding-right: 5px;
	}
	/* .menu{
		display: none;
	}
	.gach_gach{
		display: block;
		padding: 5px 0 5px 10px;
		font-size: 30px;
	}
	.gach_gach a{
		color: black;
	} */
	.menu ul li{
		width: 16%;
	}
} 
@media screen and (max-width: 770px){
	.search {
	    width: 590px;
	}
	.search div:nth-of-type(1) {
	    flex: 1;
	}
	.search_input input {
    	width: 265px;
    }
    .search_search a {
	    padding: 12px 10px;
	}
	.action a:last-child {
	    border: none;	
	}
	.search_search button {
	    padding: 11px 22px;
	}
}

@media screen and (max-width: 768px){
	.banner_left {
	    margin-left: 111px;
	}
	.banner_left {
    	width: 65%;
	}
	.feature {
	    height: auto;
	}
}

@media screen and (max-width: 768px){
	.action a:last-child {
	    border: none;	
	}
}

@media screen and (max-width: 736px){
	.banner_left_p2 {
	    font-size: 18px;
	    padding: 35px 0 40px 0;
	    line-height: 23px;
	}
	.banner_left_p1 {
	    padding-top: 60px;
	    font-size: 32px;
	}
	.action a:last-child {
	    border: none;	
	}
}


@media screen and (max-width: 718px){
	.m4{
		width: 100%;
	}
    .wrap {
	    margin: 7px 12px;
	}
	
	.search{
		margin-bottom: 210px;
	}
	.header_p1{
	    padding-top: 214px;
        font-size: 43px;
	}
}

@media screen and (max-width: 670px){
	.banner_left_p1 {
	    padding-top: 30px;
	}
	.action a:last-child {
	    border: none;	
	}
}

@media screen and (max-width: 670px){
	.menu1 ul li {
	    width: 165px;
	}
}

@media screen and (max-width: 605px){
	.banner_left_p1 {
	    font-size: 30px;
	}
}

@media screen and (max-width: 594px){
	.search {
	    width: 500px;
	}
	.search_input input {
	    width: 100%;
	}
	.search_search a {
	    padding: 12px 7px;
	}
	.search_search button {
	    padding: 11px 16px;
	}
}

@media screen and (max-width: 562px){
	.banner_left {
	    width: 80%;
	}
	.banner_left_p1 {
	    font-size: 29px;
	}
	.change_a_job{
		margin-top: 50px;
	}
	.change_a_job_p1{
		padding-top: 0;
	}
}

@media screen and (max-width: 554px){
	.new {
	    width: 380px;
	}
	
}

@media screen and (max-width: 544px){
	.search{
		flex-direction: column;
		height: auto;
		background-color: transparent;
		width: 100%;
	}

	.search div{
		width: 70%;
		padding: 20px 0;
		margin: 5px 0;
		background-color: white;
		border-right: none;
		border-radius: 5px;
	}
	.search div:nth-of-type(3){
		background-color: #3885e5;
	}
	.search_input input {
	    height: 40px;
	    border-radius: 5px;
	}
	 .search_search button {
	    padding: 0;	
	} 
	.search_location select{
		margin-left: 18px;
	}
}

@media screen and (max-width: 520px){
	.menu1{
		display: none;
	}
	.menu2{
		display: none;
	}
	.gach_gach{
		display: block;
		padding: 5px 0 5px 10px;
		font-size: 30px;
	}
	.gach_gach a{
		color: black;
	}
}

@media screen and (max-width: 502px){

	.change_a_job {
	    height: auto;
	}
	.banner_left {
	 padding-right: 0px;
	}
	/* .c{
		display: none;
	} */
	.search_hide{
		display: none;
		padding-top: 20px;
	}
	.change_a_job_p2 {
	    padding-bottom: 60px;
	}
}


@media screen and (max-width: 496px){
	.TEXT_feature {
	    height: 200px;
	    font-size: 30px;
	}
}
@media screen and (max-width: 450px){
	.banner_left_p1 {
	    font-size: 25px;
	}
	.subcribe_search {
    width: 330px;
    }
    
}


@media screen and (max-width: 490px){
    .subcribe h3 {
	    padding-top: 58px;
	}
}

@media screen and (max-width: 428px){
	.subcribe_search{
		width: 80%;
	}
}

@media screen and (max-width: 414px){

	.menu{
		height: auto;
		flex-direction: column;
		padding-bottom: 15px;
	}
	.menu div{
		padding: 20px 0;
	}
	.change_a_job_p1 {
	    padding-top: 25px;
	    padding-bottom: 20px;
	}
	.banner{
		height: auto;
	}
	.m6{
		width: 100%;
	}
	.m4{
		width: 100%;
	}
	.new {
	    width: 345px;
	}

	.subcribe {
	    height: auto;
	    padding-bottom: 20px;
	}
	.TEXT_feature{
		font-size: 25px;
	}
	.action a {
	    padding: 0px 8px;
	}
	.footer p {
	    font-size: 16px;
	}


}

@media screen and (max-width: 408px){
	.banner_left_p1 {
	    font-size: 28px;
	        padding-top: 60px;
	}
}
@media screen and (max-width: 380px){
	.new_img {
	    margin-top: 30px;
	}
	.new p {
	    padding-top: 40px;
	    padding-bottom: 32px;
	}
	
}
@media screen and (max-width: 375px){
	.menu {
	    padding-bottom: 20px;
	}
	.change_a_job_p2{
		line-height: 23px;
		    padding: 0 7px;	
	}
	.banner_left_p1 {
	    font-size: 35px;
	}
	.wrap {
	    margin: 8px 12px;
	}
	.footer p {
	    font-size: 15px;
	}
}

@media screen and (max-width: 374px){
	.change_a_job{
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 366px){
	.new {
	    width: 290px;
	}
	.new p {
	    font-size: 21px;
	    }
	.banner_left{
		padding-left: 0;
	}

}
@media screen and (max-width: 360px){
	.head_menu {
	    height: auto;
	    flex-direction: column;
	    align-items: center;
	}
	.head_menu div{
		padding: 5px 0;
	}
	.change_a_job {
	    height: auto;
	}
	.change_a_job_p2{
		padding: 0 10px 7px 7px;
	}
	.banner_left_p1{
		    font-size: 34px;
		        padding-top: 24px;
	}

	.banner_left_p1 {
	    padding-top: 0px;
	}
	.banner_left{
		margin-top: 60px;
	}
}

@media screen and (max-width: 352px){
.search {
    margin-top: 80px;
   }
  }
@media screen and (max-width: 340px){
	.TEXT_feature {
	    font-size: 22px;
	}
}

@media screen and (max-width: 320px){
	.header_p1 {
	    font-size: 37px;
	}
	.banner_left_p2 {
	    padding: 25px 0 40px 0;
	}

	.TEXT_feature {
	    height: 180px;
	    line-height: 180px;
	        font-size: 22px;
	}
	.new p {
	    padding: 45px 10px 40px 10px;
	}
	.footer {
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	}
}
