<div class="row">
	<div class="m4">
		<div class="wrap">
			<div class="wrap1">
				<div>
					<img src="images/3.png">
				</div>
				<div>
					<h5>Senior Product Designer</h5>
					<span class="wrap1_span1">Tinder</span>
					<span class="wrap1_span2">California, USA</span>
				</div>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
			<a href="#">Read more</a>
		</div>
	</div>
	<div class="m4">
		<div class="wrap active">
			<div class="wrap1">
				<div>
					<img src="images/3.png">
				</div>
				<div>
					<h5 class="wrap1_center_h5">Senior Product Designer</h5>
					<span class="wrap1_span1 wrap1_center_span1">Tinder</span>
					<span class="wrap1_span2 wrap1_center_span2">California, USA</span>
				</div>
			</div>
			<p class="wrap1_center_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
			<a href="#" class="wrap1_center_a">Read more</a>
		</div>
	</div>
	<div class="m4">
		<div class="wrap">
			<div class="wrap1">
				<div>
					<img src="images/3.png">
				</div>
				<div>
					<h5>Senior Product Designer</h5>
					<span class="wrap1_span1">Tinder</span>
					<span class="wrap1_span2">California, USA</span>
				</div>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
			<a href="#">Read more</a>
		</div>
	</div>
</div>